<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
    #container p {
      background-color: orange;
      width:150px;
      border:1px solid white;
      height:30Px;
      text-align:center;
      color:white;
      font-size: 18px;
    }
    #container p:hover{
      background-color: red;
    }
    </style>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  </head>
  <body>
    <right>
    <div id="container">

          <p align="right">Fiscal year
            <select>
          <option id="2019" class="2019">2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
          <option>2013</option>
          <option>2012</option>
          <option>2011</option>
        </select>
      </p>

    </div>
    <iframe  style="width:1000px;height:500px"  src="http://online.fliphtml5.com/cedyy/rwug/index.html"
    seamless="seamless" scrolling="no" frameborder="0"
    allowtransparency="true" allowfullscreen="true"></iframe>
  </body>
</html>
<!--you can copy the below code to your htm
page-----------------------------begin--->
<!--change the width and height value as you want.-->
<!-- Do change "index.htm" to your real html name of the flippingbook-->
